<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Jogo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">Novo Jogo</h2>
            <div class="row">
                <div class="col-md-12">
                    <form action="#" th:action="@{/jogo/novo}" th:object="${jogo}" method="post">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="nome" class="col-form-label">Nome</label>
                                <input type="text" th:field="*{nome}" class="form-control" id="nome" placeholder="Nome">                                
                            </div>    
                            <div class="form-group col-md-4">
                                <label for="genero" class="col-form-label">Genero</label>
                                <input type="text" th:field="*{genero}" class="form-control" id="genero" placeholder="Genero">                                
                            </div>  
                            <div class="form-group col-md-4">
                                <label for="plataforma" class="col-form-label">Plataforma</label>
                                <input type="text" th:field="*{plataforma}" class="form-control" id="plataforma" placeholder="Plataforma">                                
                            </div>  
                            <div class="form-group col-md-4">
                                <label for="valor" class="col-form-label">Valor</label>
                                <input type="text" th:field="*{valor}" class="form-control" id="valor" placeholder="Valor">                                
                            </div>  
                            <div class="form-group col-md-4">
                                <label for="descricao" class="col-form-label">Descricao</label>
                                <input type="text" th:field="*{descricao}" class="form-control" id="descricao" placeholder="Descricao">                                
                            </div>  
                            <div class="form-group col-md-4">
                                <label for="dataLancamento" class="col-form-label">Data Lancamento</label>
                                <input type="date" th:field="*{dataLancamento}" class="form-control" id="dataLancamento" placeholder="Data Lancamento">                                
                            </div>                          
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Salvar Jogo">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>